html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

/***********************************************************************************************************
*****************************************Estilos para telefonos******************************************
***********************************************************************************************************/
    .login-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-align: center;
      font-family: 'Helvetica', sans-serif;
    }
  
    .login1{
      background-color: #3c295e;
      color: white;
    }
    .container{
      margin-top: 55%;
      width: 70%;
    }
    
    .login-container input{
      width: 100%;
      border: none;
    }
  
    .login1 input{
      background-color: #3c295e;
      color: white;
    }
 
    
    .login-container input:focus {
      outline: none; /* Removes the border when the input is clicked */
    }
    
    .login-container header{
      font-size: 1rem;
    }
  
    .login-container button{
      margin-top: 25%;
      padding: 0.5rem 1.5rem;
    }
  
    .login1 button{
      border: solid 1.5px #ffffff;
      color: #3c295e;
      background-color: #ffffff;
    }
  
    .login1 button:hover{
      background-color: #3c295e;
      color: #ffffff;
      cursor: pointer;
      transition-duration: 0.6s;
    }
  
    .login-body{
      text-align: start;
      margin-top: 25%;
    }
    
    .login-body label{
      font-size: 0.9rem;
    }
    
    .login-body-block{
      margin-top: 10%;
    }
    
    .textInput1{
      border-bottom: solid 1px white;
    }
  
    .login-container input{
      width: 100%;
      font-size: 1.1rem;
      margin-top: 0.2rem;
    }
  
    .div-center{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .div-center button{
      width: 55%;
      font-size: 1.1rem;
    }
  
    .login-view{
      height: 100vh;
      background-color: #e6e6e6;
    }
  
