html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/***********************************************************************************************************
*****************************************Estilos para computadoras******************************************
***********************************************************************************************************/
@media screen and (min-width: 700px) {
  .login-container {
    background: linear-gradient(160deg, #3c295e 70%, #ffffff 71%);
    color: white;
    width: 25rem;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border-radius: 1.5rem 0 0 1.5rem;
    box-shadow: -9px 14px 23px 1px rgba(0,0,0,0.56);
    font-family: 'Helvetica', sans-serif;
  }
  
  .login-container input{
    color: white;
    width: auto;
    border: none;
    background-color: #3c295e;
  }
  
  .login-container input:focus {
    outline: none; /* Removes the border when the input is clicked */
  }
  
  .login-container header{
    margin-top: 15%;
    font-size: 1rem;
  }

  .login-container button{
    margin-top: 15%;
    background-color: rgb(60, 41, 94);
    color: white;
    border: solid 1.5px white;
    padding: 0.5rem 1.5rem;
  }
  
  .login-container button:hover{
    background-color: white;
    color: rgb(60, 41, 94);
    cursor: pointer;
    transition-duration: 0.6s;
  }
  .login-body{
    text-align: start;
    margin-top: 30%;
  }
  
  .login-body label{
    font-size: 0.8rem;
  }
  
  .login-body-block{
    margin-top: 10%;
  }
  
  .textInput{
    border-bottom: solid 1px white;
  }

  .textInput input{
    width: 100%;
  }

  .loginBtn-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-poligon{
    background-color: white;
    width: 200px;
    height: 500px;
    clip-path: polygon(50% 66%, 100% 100%, 100% 100%, 0 100%);
  }
}
