html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

/***********************************************************************************************************
*****************************************Estilos para telefonos******************************************
***********************************************************************************************************/
    .login-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-family: 'Helvetica', sans-serif;
    }
  
    .login1{
      background: linear-gradient(190deg, rgba(60,41,94,1) 78%, rgba(255,255,255,1) 78%);
      color: white;
    }
    .container{
      margin-top: 20%;
      width: 95%;
    }

    .container header{
      text-align: center;
    }
    
    .login-container input{
      border: none;
    }
  
    .login1 input{
      background-color: #3c295e;
      color: white;
    }
 
    
    .login-container input:focus {
      outline: none; /* Removes the border when the input is clicked */
    }
    
    .login-container header{
      font-size: 1rem;
    }
  
    .login-container button{
      margin-top: 25%;
      padding: 0.5rem 1.5rem;
    }

    
    .login1 button{
      border: solid 1.5px #ffffff;
      color: #ffffff;
      background-color: #3c295e;
    }
  
    .login1 button:hover{
      background-color: #ffffff;
      color: #3c295e;
      cursor: pointer;
      transition-duration: 0.6s;
    }
  
    .login-body{
      margin-top: 20%;
    }
    
    .login-body label{
      font-size: 0.9rem;
    }
    
    .login-body-block{
      margin-top: 10%;
      width: 80%;
      margin-left: 10%;
    }
    
    .textInput1{
      border-bottom: solid 1px white;
    }
  
    .login-container input{
      width: 100%;
      font-size: 1.1rem;
      margin-top: 0.2rem;
    }
  
    .div-center{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .div-center button{
      width: 80%;
      font-size: 1.1rem;
      border-radius: 3rem;
    }

    .btn-switch{
      margin-top: 1.5rem;
      display: inline-flex;
      width: 10rem;
      margin-left: 10%;
    }

    .lbl-btn{
      text-align: center;
      width: 100rem;
    }

    .checkbox{
      height: 0.8rem;
      background-color: #ffffff;
    }
  
  
    .login-view{
      height: 100vh;
      background-color: #e6e6e6;
    }

    

    @media screen and (min-width: 500px) {
    
      .container{
        background-color: #3c295e;
        margin-top: 30%;
        width: 75%;
      }


      .div-center button{
        height: 3rem;
        font-size: 1.1rem;
        border-radius: 3rem;
      }
    
    }
  
